<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="Haras" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source="/>
  </connectionStrings>
  <!--
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" name=".ASPXFORMSAUTH"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <compilation debug="true"/>
  </system.web>


  <location path="CSS">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  -->
  <system.web>
    <compilation debug="true"/>
    <httpRuntime executionTimeout="999" maxRequestLength="2097151"/>
  </system.web>
  
</configuration>